tests/Zend/Soap/TestAsset/wsdl_documentation.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://framework.zend.com/my_script.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" name="ZendTest.Soap.Server.TestClass" targetNamespace="http://framework.zend.com/my_script.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation>Definitions</wsdl:documentation>

    <portType name="ZendTest.Soap.Server.TestClassPort">
        <wsdl:documentation>Ports</wsdl:documentation>
        <operation name="testFunc1">
            <input message="tns:testFunc1Request"/>
            <output message="tns:testFunc1Response"/>
        </operation>
        <operation name="testFunc2">
            <input message="tns:testFunc2Request"/>
            <output message="tns:testFunc2Response"/>
        </operation>
        <operation name="testFunc3">
            <input message="tns:testFunc3Request"/>
            <output message="tns:testFunc3Response"/>
        </operation>
        <operation name="testFunc4">
            <input message="tns:testFunc4Request"/>
            <output message="tns:testFunc4Response"/>
        </operation>
    </portType>

    <binding name="ZendTest.Soap.Server.TestClassBinding" type="tns:ZendTest.Soap.Server.TestClassPort">
        <wsdl:documentation>Bindings</wsdl:documentation>

        <soap:operation soapAction="http://framework.zend.com/my_script.php#testFunc4"/>
        <soap:operation soapAction="http://framework.zend.com/my_script.php#testFunc3"/>
        <soap:operation soapAction="http://framework.zend.com/my_script.php#testFunc2"/>
        <soap:operation soapAction="http://framework.zend.com/my_script.php#testFunc1"/>

        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="testFunc1">
            <wsdl:documentation>Operation1</wsdl:documentation>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="testFunc2">
            <wsdl:documentation>Operation2</wsdl:documentation>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="testFunc3">
            <wsdl:documentation>Operation3</wsdl:documentation>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="testFunc4">
            <wsdl:documentation>Operation4</wsdl:documentation>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="ZendTest.Soap.Server.TestClassService">
        <wsdl:documentation>Services</wsdl:documentation>
        <port name="ZendTest.Soap.Server.TestClassPort" binding="tns:ZendTest.Soap.Server.TestClassBinding">
            <soap:address location="http://framework.zend.com/my_script.php"/>
        </port>
    </service>

    <message name="testFunc1Request"/>
    <message name="testFunc1Response">
        <wsdl:documentation>Message</wsdl:documentation>
        <part name="testFunc1Return" type="xsd:string"/>
    </message>
    <message name="testFunc2Request">
        <wsdl:documentation>Message</wsdl:documentation>
        <part name="who" type="xsd:string"/>
    </message>
    <message name="testFunc2Response">
        <wsdl:documentation>Message</wsdl:documentation>
        <part name="testFunc2Return" type="xsd:string"/>
    </message>
    <message name="testFunc3Request">
        <wsdl:documentation>Message</wsdl:documentation>
        <part name="who" type="xsd:string"/>
        <part name="when" type="xsd:int"/>
    </message>
    <message name="testFunc3Response">
        <wsdl:documentation>Message</wsdl:documentation>
        <part name="testFunc3Return" type="xsd:string"/>
    </message>
    <message name="testFunc4Request"/>
    <message name="testFunc4Response">
        <wsdl:documentation>Message</wsdl:documentation>
        <part name="testFunc4Return" type="xsd:string"/>
    </message>
</definitions>